<ion-popover-view class="fit">
	<ion-header-bar>
		<h1 class="title">Pick a color</h1>
	</ion-header-bar>
	<ion-content class="text-center padding">
		<button ng-repeat="colorOption in colorOptions" class="button button-small" title="{{(isSelected(colorOption) ? 'Selected ' : 'Select ') + 'color ' + colorOption.toLowerCase()}}" ng-style="{'background-color': colorOption}" ng-click="setColor(colorOption)">
			<i class="icon ion-checkmark" ng-if="color.toLowerCase() === colorOption.toLowerCase()"></i>
		</button>
	</ion-content>
</ion-popover-view>