<ion-view hide-back-button="true" title="Home">
    <ion-nav-buttons side="secondary">
	    <a class="button button-stable button-icon icon" ng-class="{'ion-person': !vm.user.avatarShortcut}" title="User Settings"
	       ng-click="vm.showUserSettingsModal()">
			<img ng-src="/api/v1/user/avatar/{{vm.user.avatarShortcut}}" style="max-height: 32px; border-radius: 50%;">
		</a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item href="#playlists">
	            My Playlists
				<span class="animated bounceIn badge badge-calm">{{vm.playlists.length}}</span>
            </ion-item>
			<ion-item class="item-icon-right" href="#favorites">
				VoiceBox Favorites
				<span class="animated bounceIn badge badge-calm">{{vm.favorites.total_entries}}</span>
			</ion-item>
			<ion-item class="item-icon-right" href="#playhistory">
				VoiceBox Play History
				<span class="animated bounceIn badge badge-calm">{{vm.playHistory.total_entries}}</span>
			</ion-item>
			<ion-item class="item-icon-right" href="#browse/popularity">
				Top Songs
			</ion-item>            
			<ion-item class="item-icon-right" href="#browse/recently_added">
				New Songs
			</ion-item>
        </ion-list>
		<div class="card" ng-repeat="category in vm.categories">
			<div class="item item-divider">
				{{category.category_name}}
			</div>	
			<div class="item item-text-wrap text-center">
				<a ng-repeat="tag in category.tags" class="button button-light" href="#tag/{{tag.name}}">{{tag.name}}</a>
			</div>
		</div>
        
    </ion-content>
</ion-view>