<ion-view hide-back-button="true" title="Home">
    <ion-nav-buttons side="secondary">
	    <a class="button button-stable button-icon icon ion-ios-gear-outline" title="User Settings"
	       ng-click="vm.showUserSettingsModal()"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item href="#playlists">
	            My Playlists
				<span class="badge badge-calm">{{vm.playlists.length}}</span>
            </ion-item>
			<ion-item class="item-icon-right" href="#favorites">
				VoiceBox Favorites
				<span class="badge badge-calm">{{vm.favorites.total_entries}}</span>
			</ion-item>
			<ion-item class="item-icon-right" href="#playhistory">
				VoiceBox Play History
				<span class="badge badge-calm">{{vm.playHistory.total_entries}}</span>
			</ion-item>
			<ion-item class="item-icon-right" href="#browse/popularity">
				Top Songs
			</ion-item>            
			<ion-item class="item-icon-right" href="#browse/recently_added">
				New Songs
			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>