<ion-view title="DJVB Login">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                Welcome to DJVB! Please log in using your phone number.
            </div>
        </div>
        <button class="button button-stable button-block button-royal" ng-click="vm.digitsLogin($event)"><i class="icon ion-ios-telephone-outline"></i> Log in with Phone Number</button>
        <p class="text-center"><em>- or -</em></p>
        <form name="vm.emailForm">
	        <label class="item item-input">
	            <input type="email" ng-model="vm.email" placeholder="Your Email" ng-required="true">
	        </label>
	        <button class="button button-stable button-block button-royal" ng-disabled="vm.emailForm.$invalid" ng-click="vm.emailLogin($event)"><i class="icon ion-ios-email-outline"></i> Log in with Email</button>
		</form>
		<!-- <pre>{{vm.emailForm | json}}</pre> -->
    </ion-content>
</ion-view>