<ion-view view-title="{{vm.playlist.name}}">
    <ion-nav-buttons side="secondary">
	    <button class="button button-icon icon ion-navicon" title="Reorder"
	      ng-click="vm.data.showReorder = !vm.data.showReorder" ng-if="vm.playlist.songs.length>0"></button>
    </ion-nav-buttons>
	<ion-content class="has-header">
		<div class="card" ng-if="vm.playlist.songs.length === 0">
			<div class="item item-text-wrap text-center">
				Playlist is empty.
			</div>
		</div>
		<ion-list  
show-reorder="vm.data.showReorder">
			<ion-item class="item-icon-right" ng-repeat="song in vm.playlist.songs track by $index" ng-click="vm.selectSong($index)">
				{{song.title}}
				<p>{{song.artist}}</p>
				<button class="button button-clear button-stable button-icon icon ion-more"></button>
			    <ion-delete-button class="ion-minus-circled" ng-click="">
			    </ion-delete-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="">
			    </ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>