<ion-view title="Playlists">
    <ion-nav-buttons side="secondary">
	    <button class="button button-icon icon ion-ios-plus-empty" title="Create Playlist"
	      ng-click="vm.newPlaylistPopup()"></button>
    </ion-nav-buttons>
	<ion-content class="has-header">
		<div class="card" ng-if="vm.playlists.length === 0">
			<div class="item item-text-wrap text-center">
				You don't have any playlists.
			</div>
		</div>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="playlist in vm.playlists | orderBy:'name'" href="#playlists/{{playlist.id}}">
				{{playlist.name}}
				<span class="badge badge-calm">{{playlist.songs.length}}</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>