<ion-view view-title="Play History">
	<ion-content class="has-header">
		<div class="card" ng-if="vm.history.plays.length === 0">
			<div class="item item-text-wrap text-center">
				No play history.
			</div>
		</div>
		<ion-list>
			<ion-item class="item-icon-right" collection-repeat="play in vm.history.plays track by $index" ng-click="vm.selectPlay(play)">
				{{play.title}}
				<p>{{play.artist}}</p>
				<button class="button button-clear button-stable button-icon icon ion-more"></button>
			    <ion-delete-button class="ion-minus-circled" ng-click="">
			    </ion-delete-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="">
			    </ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>