<ion-view view-title="Play History">
	<ion-content class="has-header">
		<div class="card" ng-if="vm.history.plays.length === 0">
			<div class="item item-text-wrap text-center">
				No play history.
			</div>
		</div>
		<ion-list>
			<div ng-repeat="(date, plays) in vm.playGroups | orderBy:'-date'">
				<ion-item class="item item-divider">
					{{date | date:'MMMM d yyyy'}}
				</ion-item>
				<ion-item class="item-button-right" ng-repeat="play in plays" ng-click="vm.selectPlay(play)">
					<h2>{{play.title}}</h2>
					<p>{{play.artist}}</p>
					<div class="buttons">
						<button class="button button-clear button-stable button-icon icon ion-more"></button>
					</div>
				</ion-item>
			</div>
		</ion-list>
		<ion-infinite-scroll on-infinite="vm.nextPage()" distance="5%" ng-if="vm.hasMoreData()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>