      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
          <h1 class="title">Room Settings</h1>
          <button class="button button-clear button-primary" ng-click="vm.queueSettingsModal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <!-- <div class="item item-button-right">
          	Lights
          	<button class="button" ng-click="vm.deleteQueue()">Off</button>
          	<button class="button" ng-click="vm.deleteQueue()">Low</button>
          	<button class="button" ng-click="vm.deleteQueue()">High</button>
          </div> -->
        </ion-content>
		<ion-footer-bar class="bar bar-footer">
            <button class="button icon-left ion-close button-assertive" ng-if="vm.queues.length > 0" ng-click="vm.deleteQueue()"> Leave the Room</button>
		</ion-footer-bar>
      </ion-modal-view>
