      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
          <h1 class="title">{{vm.queues[vm.currentQueueIndex].roomCode}} Settings</h1>
          <button class="button button-clear button-primary" ng-click="vm.queueSettingsModal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          	<h4>Lights</h4>
          	<div class="button-bar">
	          	<button class="button" ng-click="vm.setLights(2)" ng-class="{'active':vm.level===2}">
	          		<i class="icon ion-ios-lightbulb-outline"></i>
          		</button>
	          	<button class="button" ng-click="vm.setLights(1)" ng-class="{'active':vm.level===1}">
	          		<i class="icon ion-ios-lightbulb-outline"></i>
	          		<i class="icon ion-ios-lightbulb-outline"></i>
          		</button>
	          	<button class="button" ng-click="vm.setLights(0)" ng-class="{'active':vm.level===0}">
	          		<i class="icon ion-ios-lightbulb-outline"></i>
	          		<i class="icon ion-ios-lightbulb-outline"></i>
	          		<i class="icon ion-ios-lightbulb-outline"></i>
          		</button>
          	</div>
        </ion-content>
		<ion-footer-bar class="bar bar-footer">
			<button class="button icon-left ion-ios-close-empty button-assertive" ng-click="vm.deleteQueue()">Leave the Room</button>
			<button class="button icon-left ion-ios-plus-empty button-stable" ng-click="vm.joinRoom()">Join Another Room</button>
		</ion-footer-bar>
      </ion-modal-view>
