<ion-modal-view>
	<form name="userForm">
		<ion-header-bar class="bar-stable">
			<div class="buttons">
				<button class="button button-clear" ng-click="closeModal()" ng-if="user.screenName && user.email">Close</button>
			</div>
			<h1 class="title">User Settings</h1>
			<div class="buttons">
				<button class="button button-clear" ng-click="putUser()" ng-disabled="userForm.$invalid || userForm.$pristine">Save</button>
			</div>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<div class="item item-avatar">
                    <img ng-src="/api/v1/user/avatar/{{user.avatarShortcut}}"/>
					<label for="avatarFile" class="button button-small button-stable">Edit Avatar</label>
					<input file-input="handleFileSelect" style="" id="avatarFile" name="avatarFile" type="file" placeholder="Pick an image">
				</div>
				<label class="item item-input">
					<span class="input-label">Name</span>
					<input ng-model="userCopy.name" name="name" type="text" placeholder="Your actual name">
				</label>
				<label class="item item-input">
					<span class="input-label">Screen Name</span>
					<input ng-model="userCopy.screenName" name="screenName" type="text" required="required" placeholder="This shows on the screen">
				</label>
				<label class="item item-input">
					<span class="input-label">Email</span>
					<input ng-model="userCopy.email" name="email" type="email" required="required" overwrite-email>
				</label>
				<label class="item item-input">
					<span class="input-label">Color</span>
					<color-input ng-model="userCopy.color" name="color"></color-input>
				</label>
			</div>
	 		<!--<pre>{{userForm | json}}</pre>
			<pre>{{user | json}}</pre>
			<pre>{{userCopy | json}}</pre>-->
		</ion-content>
		<ion-footer-bar class="bar bar-footer">
			<button class="button icon-left ion-log-out button-assertive" ng-click="logout()">Log out</button>
		</ion-footer-bar>
	</form>
</ion-modal-view>